<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personas por Género</title>
</head>

<body>
<h1>Personas por Género</h1>
<p>Número de personas masculinas: <span th:text="${masculinos}"></span></p>
<p>Número de personas femeninas: <span th:text="${femeninos}"></span></p>
</body>

</html>
